<ion-header>
  <ion-toolbar>
    <ion-title>홈 페이지 수정</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none" class="ion-margin">

    <ion-item>
      <ion-label class="my-label" position="stacked"> 1번 내용 수정하기 </ion-label>
      <ion-textarea type="text" [(ngModel)]="main1"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-list lines="none" class="ion-margin">

    <ion-item>
      <ion-label class="my-label" position="stacked"> 2번 내용 수정하기 </ion-label>
      <ion-textarea type="text" [(ngModel)]="main2"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-text class="ion-text-center">
    <p>{{error_msg}}</p>
  </ion-text>

  <ion-button
    expand="block"
    shape="round"
    color="success"
    (click)="moveToChange()"
  >
    수정하기
  </ion-button>
</ion-content>
