.my-label {
  font-size: 2em;
}

ion-textarea {
  font-size: 20px;
}

ion-item {
  border-bottom: 1px solid black;
}

ion-button {
  margin-left: 10%;
  margin-bottom: 20px;
  width: 80%;
  height: 60px;
  font-size: 2em;
}
